<div>
  <div class="text-center">
    <h2><%= @list.name %></h2>
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="position-relative border shadow" style="width: 400px;">

          <div style="height: 200px; overflow: hidden;">
            <img src="<%= bookmark.movie.poster_url %>"
                 style="width: 100%; height: 100%; object-fit: cover;">
            <%= link_to bookmark_path(bookmark),
                        data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce film ?" },
                        class: "position-absolute top-0 end-0 m-2 text-danger" do %>
              <i class="fas fa-times fs-5"></i>
            <% end %>
          </div>

          <div class="mt-2 text-start px-4">
            <h5 class="fw-bold mb-2"><%= bookmark.movie.title %> </h5>

            <p class="small mb-2" style="height: 100px; overflow-y: auto; line-height: 1.4;">
              <%= bookmark.movie.overview %>
            </p>

            <p class="small fw-bold">
              * <%= bookmark.comment %> *
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <%= link_to new_list_bookmark_path(@list), class: "btn btn-primary" do %>
        <i class="fas fa-plus"></i> Add Bookmarks
      <% end %>
    </div>
  </div>
</div>
